---
import Layout from "../layouts/Layout.astro";
---

<Layout title="projectm.fr">
  <div class="columns">
    <div class="column container">
      <article class="content box">
        <h1>Bienvenue sur le hub de la communauté française de Project M !</h1>
        <p>
          Ce site abrite diverses ressources concernant la communauté française
          de Project M. Project M ou sa nouvelle version Project + est un mod de
          Super Smash Bros. Brawl pour la Nintendo Wii. Le mod a pour but de
          modifier le gameplay de Brawl pour y intégrer la plupart des éléments
          de gameplay de son prédécesseur, Super Smash Bros. Melee.<br /> Project
          M est un mod à succès qui a connu son pic de popularité dans le monde lors
          des version 3.0X dans les années 2015 lorsqu'il a su rassembler les communautés
          de Super Smash Bros. Brawl et Melee aux mêmes tournois.
        </p>
        <span>Plus d'informations</span>
      </article>

      <div class="columns">
        <div class="column">
          <article class="content box">
            <h1>Rejoint la communauté</h1>
            <ul>
              <li>sur Discord</li>
              <li>sur Twitter</li>
              <li>sur Twitch</li>
            </ul>
            <h1>et commence à jouer !</h1>
            <ol>
              <li>Obtient un ISO de Brawl NTSC</li>
              <li>Télécharge l'émulateur Dolphin pour <a href="https://projectplusgame.com/download"> P+ </a> ou PM</li>
              <li>Demande à jouer sur notre Discord ! <span class="has-text-white has-background-danger-dark">@Netplay Singles</span></li>
            </ol>
          </article>
        </div>

        <div class="column">
          <article class="content box">
            <h1>Nos futures événements</h1>
            <ul>
              <li>
                <a href="https://www.start.gg/tournament/the-truce"
                  >The Truce - 24 & 25 Février 2024</a
                >
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/KE9cKjao7TE?si=g7QyJMPtGt3ewoO1"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </li>
              <li>... Discord Scheduled Events</li>
            </ul>
            <h1>Nos précédents événements</h1>
            <p>
              Tous nos événements ne sont pas toujours enregistrés !<p>
                <span>Youtube playlist</span>
              </p>
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</Layout>
