---
import Layout from "../layouts/Layout.astro";
---

<Layout title="projectm.fr">
    <div>
    <h1>Bienvenue sur le hub de la communauté française de Project M !</h1>
    <p>
      Ce site abrite diverses ressources concernant la communauté française de
      Project M. Project M ou sa nouvelle version Project + est un mod de Super
      Smash Bros. Brawl pour la Nintendo Wii. Le mod a pour but de modifier le
      gameplay de Brawl pour y intégrer la plupart des éléments de gameplay de
      son prédécesseur, Super Smash Bros. Melee.
    </p>
    </div>
</Layout>
